torch
torchaudio
styletts2
faster-whisper
ffmpeg-python
pydub
fastapi
uvicorn
python-multipart
numpy<2
scipy
pyyaml
librosa
phonemizer
nltk
soundfile
transformers
resemblyzer
opencv-python
rembg
basicsr
facexlib
gfpgan
realesrgan
num2words
nemo_text_processing
groq
python-dotenv
click
tensorboard
munch
pandas
matplotlib
accelerate
einops
einops-exts
tqdm
git+https://github.com/resemble-ai/monotonic_align.git
networkx<3
