torch
torchaudio
styletts2
faster-whisper
ffmpeg-python
pydub
fastapi
uvicorn
python-multipart
numpy
scipy
pyyaml
librosa
phonemizer
nltk
soundfile
transformers
resemblyzer
opencv-python
num2words
nemo_text_processing
click
tensorboard
munch
pandas
matplotlib
accelerate
einops
einops-exts
tqdm
git+https://github.com/resemble-ai/monotonic_align.git
